* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #f2f0ff;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

.required {
    color: red;
}
.btn, .btn-outline {
    padding: 8px 16px;
    border-radius: 8px;
}

.btn {
    background: #2563eb;
    color: #fff;
}

.btn-outline {
    border: 2px solid #2563eb;
    color: #2563eb;
}

/* Main Container */
.container {
    color:#333;
    max-width: 800px;
    background: #fff;
    margin: 60px auto;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

form {
    text-align: left;
}

label {
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Topics */
.topics {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.topics button {
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background: #f1f1f1;
    cursor: pointer;
}

.topics button.active {
    background: #2563eb;
    color: white;
}

/* Buttons */
.submit-btn {
    width: 100%;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.login-btn {
    width: 60%;        /* reduce button length */
    margin: 25px auto 0;
    display: block;
}

/* Switch link */
.switch {
    text-align: center;
    margin-top: 15px;
}

.switch a {
    color: #2563eb;
    text-decoration: none;
}
