body{
    font-family: Arial, Helvetica, sans-serif;
    background:hsla(283, 74%, 72%, 0.486)
}
.container{
    width:40%;
    margin: 60px auto;  
    box-shadow: 0px 0px 60px #6e36a3d3;
    background: white;
    padding: 20px;
    border-radius: 5px;  
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
h2{
    font-size: 22px;
    color: blueviolet;
    font-weight: 700;
    text-align: center;
}
button{
    margin-top: 20px;
    margin-left: 40%;
    display: block;
    padding: 10px 20px;
    font-size: 13px;
    background: blueviolet;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    color: white;
    cursor: pointer;
}
input{
    width:80%;
    padding: 10px;
}
.error{
    font-size: 12px;
    color: red;    
}